* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.topbar {
    padding: 10px;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(2, 12, 51, 0.7), rgba(5, 13, 46, 0.7)), url(Images/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.bg-blue {

    background-color: #313192;
}

.cw {

    color: #fff;
    text-decoration: none;

}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
}


.icon-bar {
    width: 90px;
    /* Set a specific width */
    background-color: #555;
    /* Dark-grey background */
    display: block;
    /* Make the links appear below each other instead of side-by-side */
    text-align: center;
    /* Center-align text */
    padding: 16px;
    /* Add some padding */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 36px;
    /* Increased font-size */
}

.icon-bar :hover {
    background-color: #000;
    /* Add a hover color */
}

.active {
    background-color: #04AA6D;
    /* Add an active/current color */
}

.mytoggler {

    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-color: #000;

}

.mytoggler .mytoggler_icon {
    color: #000;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


/*X-Small devices (portrait phones, less than 576px) 
/* No media query for `xs` since this is the default in Bootstrap

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

    .topbar {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }

    .bg-blue {


        background-color: #fff;
    }

    .cw {
        color: #000;
        text-decoration: none;
    }
}